# See https:s.

v.d.ts
next-enuildinfosbscript
*.ttype

# rcell
.ve

# verce
.envnv*.localnv files
.e

# local eog*.lorg*
yarn-errrn-debug.log.log*
ya-debu# debug
npm

*.pem_Store
.DS

# misc
ion
/build

# product
/out/xt//.ne next.js
age

#/coveresting
# tte.gz

nstall-stajs
.yarn/i.pnp
.pnp.les
/_modu
/nodeiesncende
# dep
node_modules
